# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Gedit backup files
*~

# ignore VIM backup files
*.swo
*.swp

# Ignore cmake build files
CMakeCache.txt*
CMakeFiles
cmake_install.cmake*
Makefile*

# Ignore generated executable
/planets
/ray
/tests/tests
/legacy
*_tests

# Ignore generated Makefiles
*.d
*.user

