# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Gedit backup files
*~

# Ignore cmake build files
CMakeCache.txt*
CMakeFiles
cmake_install.cmake*
Makefile*

# Ignore generated executable
/demo
/ray

# Ignore generated Makefiles
*.d

*.user
