# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Gedit backup files
*~

# Ignore generated executable
demo

# Ignore generated Makefiles
*.d

# Ignore rough planning files
*.vym
